{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %}
<div class="row text-center">
  <div class="col-lg-4 col-md-12 mb-4"></div>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h2 class="font-weight-bold pink-lighter-hover mb-3">
          Flask-emails app
        </h2>
        <p class="indigo-lighter-hover">
          Jeśli nie masz konta możesz je sobie założyć
        </p>
        <button type="button" class="btn btn-primary">Rejestracja</button>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4"></div>
</div>
{% endblock %}
